{% extends 'base.html' %}
{% block title %}Online Clothing Store{% endblock %}
{% block content %}
<main>
    <div id="common-home" class="container">
        <div class="row">
            <div id="content" class="col">
                <h2>Featured</h2>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-3 col-sm-2" style="margin-left: 5%;">
                        <div class="header-cart">
                            <div class="product-thumb">
                                <div class="image-product mt-2 mx-5 mb-0">
                                    {% if product.photos[0] %}
                                    <a href="/product/{{ product.id }}">
                                        <img
                                            src="{{ product.photos[0].url }}"
                                            alt="{{ product.name }}"
                                            title="{{ product.name }}"
                                            class="img-fluid mt-2"
                                        />
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <div class="description">
                                        <h4>
                                            <a href="/product/{{ product.id }}">{{ product.name }}</a>
                                        </h4>
                                        <p>
                                            {{ product.description[:100] }}...
                                        </p>
                                        <div class="price">
                                            <span class="price-new">{{ product.price }}.00	₴</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}
