{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
    <div id="common-home" class="container">
        <div class="row">
            <div id="content" class="col">
                <h2>Featured</h2>
                <div class="row">
                    <div class="col-md-4 col-sm-2">
                        <div id="#header-cart">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="#">
                                        <img
                                            src="#"
                                            alt="Product Image"
                                            title="Product Name"
                                            class="img-fluid"
                                        />
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="description">
                                        <h4>
                                            <a href="#">Product name</a>
                                        </h4>
                                        <p>
                                            description
                                        </p>
                                        <div class="price">
                                            <span class="price-new">$602.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}
