{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<main>
    <div id="product-info" class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">{{ product.name }}</a>
            </li>
        </ul>
        <div class="row">
            <div id="content" class="col">
                <div class="row mb-3">
                    <div class="col-sm-5">
                        <div class="image magnific-popup">
                            {% if product.photos[0] %}
                            <a href="{{ product.photos[0].url }}"
                                title="{{ product.name }}">
                                <img
                                    src="{{ product.photos[0].url }}"
                                    title="{{ product.name }}" alt="{{ product.name }}" class="img-thumbnail mb-3"
                                    width="350px"
                                >
                            </a>
                            <div>
                                {% endif %}
                                {% if product.photos[0] %}
                                <a href="{{ product.photos[0].url }}"
                                    title="{{ product.name }}">
                                    <img
                                        src="{{ product.photos[0].url }}"
                                        title="{{ product.name }}" alt="{{ product.name }}" class="img-thumbnail"
                                        width="100px"
                                    >
                                </a>&nbsp;
                                {% endif %}
                                {% if product.photos[1] %}
                                <a href="{{ product.photos[1].url }}"
                                    title="{{ product.name }}">
                                    <img
                                        src="{{ product.photos[1].url }}"
                                        title="{{ product.name }}" alt="{{ product.name }}" class="img-thumbnail"
                                        width="100px"
                                    >
                                </a>&nbsp;
                                {% endif %}
                                {% if product.photos[2] %}
                                <a href="{{ product.photos[2].url }}"
                                    title="{{ product.name }}">
                                    <img
                                        src="{{ product.photos[2].url }}"
                                        title="{{ product.name }}" alt="{{ product.name }}" class="img-thumbnail"
                                        width="100px"
                                    >
                                    </a>&nbsp;
                                {% endif %}
                                {% if product.photos[3] %}
                                <a href="{{ product.photos[3].url }}"
                                    title="{{ product.name }}">
                                    <img
                                        src="{{ product.photos[3].url }}"
                                        title="{{ product.name }}" alt="{{ product.name }}" class="img-thumbnail"
                                        width="100px"
                                    >
                                </a>&nbsp;
                                {% endif %}
                                {% if product.photos[4] %}
                                <a href="{{ product.photos[4].url }}"
                                    title="{{ product.name }}">
                                    <img
                                        src="{{ product.photos[4].url }}"
                                        title="{{ product.name }}" alt="{{ product.name }}" class="img-thumbnail"
                                        width="100px"
                                    ></a>&nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <h1>{{ product.name }}</h1>
                        <br>
                        <ul class="list-unstyled">
                            <li>
                                <p>Manufacturer: {{ product.brand }}</p>
                            </li>
                            <li>
                                <p>ASIN: {{ product.product_code }}</p>
                            </li>
                            <li>
                                <p>Type: {{ product.type_of_product }}</p>
                            </li>
                            <li>
                                <p>Collection: {{ product.collection }}</p>
                            </li>
                            <li>
                                <p>Availability: {{ product.availability }}</p>
                            </li>
                        </ul>
                        <div id="product" x-data="{ price:{{ product.price }}, quantity:1 }">
                            <ul class="list-unstyled">
                                <li>
                                    <h2><span class="price-new" x-text="price*Math.round(quantity)"></span><span class="price-new">.00 ₴</span></h2>
                                </li>
                            </ul>
                            <form id="form-product" action="/buy">
                                <div class="mb-3">
                                    <div class="row">
                                        <label for="quantity" class="form-label col-2">
                                            <h3>Quantity</h3>
                                        </label>
                                        <input x-model="quantity"
                                            type="number"
                                            name="quantity"
                                            value="1"
                                            size="2"
                                            min="1"
                                            max="20"
                                            pattern="[0-9]+"
                                            id="quantity"
                                            class="form-control col-6"
                                            style="width: 20%!important;"
                                        >
                                    </div>
                                    {% if product %}
                                    <input type="hidden" name="price" id="price" value="{{ product.price }}">
                                    {% endif %}
                                    <br>
                                    <button type="submit" id="button-cart" class="btn btn-primary btn-lg btn-block">Buy now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tab-description" id="description-tab" class="nav-link active" data-bs-toggle="tab">Description</a>
                        </li>
                    <li class="nav-item"><a href="#tab-review" id="review-tab" class="nav-link" data-bs-toggle="tab">Reviews (0)</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-description" class="tab-pane fade show active mb-4" role="tabpanel"
                        aria-labelledby="description-tab">
                        <p class="intro">
                            {{ product.description }}
                        </p>
                    </div>
                    <div id="tab-review" class="tab-pane fade">
                        <form id="form-review">
                            <div id="review">
                                <p class="text-center">There are no reviews for this product.</p>
                            </div>
                            <h2>Write a review</h2>
                            <div class="mb-3 required">
                                <label for="input-name" class="form-label">Your Name</label> <input type="text"
                                    name="name" value="" id="input-name" class="form-control">
                                <div id="error-name" class="invalid-feedback"></div>
                            </div>
                            <div class="mb-3 required">
                                <label for="input-review" class="form-label">Your Review</label> <textarea name="text"
                                    rows="5" id="input-text" class="form-control"></textarea>
                                <div class="invalid-feedback"><span class="text-danger">Note:</span> HTML is not
                                    translated!</div>
                            </div>
                            <div class="d-inline-block pt-2 pd-2 w-100">
                                <div class="float-end">
                                    <button type="button" id="button-review" class="btn btn-primary">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <h2>Same type products</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4"  style="margin-left: 5%;">
                {% for other_product in same_type_products %}
                <div class="col" style="margin-left: 3%">
                    <div>
                        <div class="header-cart">
                            <div class="product-thumb">
                                <div class="image-product mt-3 mx-5 mb-0">
                                    {% if product.photos[0] %}
                                    <a href="/product/{{ other_product.id }}">
                                        <img
                                            src="{{ other_product.photos[0].url }}"
                                            alt="{{ other_product.name }}"
                                            title="{{ other_product.name }}"
                                            class="img-fluid mt-2"
                                        />
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <div class="description">
                                        <h4>
                                            <a href="/product/{{ other_product.id }}">{{ other_product.name }}</a>
                                        </h4>
                                        <p>
                                            {{ other_product.description[:100] }}...
                                        </p>
                                        <div class="price">
                                            <span class="price-new">{{ other_product.price }}.00 ₴</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h2>Same collection products</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4"  style="margin-left: 5%;">
                {% for other_product in same_collection_products %}
                <div class="col" style="margin-left: 3%">
                    <div>
                        <div class="header-cart">
                            <div class="product-thumb">
                                <div class="image-product mt-3 mx-5 mb-0">
                                    {% if product.photos[0] %}
                                    <a href="/product/{{ other_product.id }}">
                                        <img
                                            src="{{ other_product.photos[0].url }}"
                                            alt="{{ other_product.name }}"
                                            title="{{ other_product.name }}"
                                            class="img-fluid mt-2"
                                        />
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <div class="description">
                                        <h4>
                                            <a href="/product/{{ other_product.id }}">{{ other_product.name }}</a>
                                        </h4>
                                        <p>
                                            {{ other_product.description[:100] }}...
                                        </p>
                                        <div class="price">
                                            <span class="price-new">{{ other_product.price }}.00 ₴</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
