<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Originals & Replicas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.min.css') }}">
</head>
<body>
    <main>
        <form action="/" method="POST">
            <button type="submit" style="position: fixed; margin-top: -4%">
                Next attempt
            </button>
        </form>
        <ol>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ol>
    </main>
</body>
</html>
